# Analisis zonaprop

# Agenda:
* Data cleaning
* Análisis exploratorio básico

# General

In [99]:
# Importamos librerías de análisis de datos
import numpy as np
import pandas as pd
import seaborn as sns
pd.set_option('display.float_format', '{:.2f}'.format)

In [189]:
# Creamos el dataframe y le asignamos como id del dataframe, el id de cada row del csv.
df = pd.read_csv('train.csv', index_col='id')

In [47]:
df.shape

(240000, 22)

In [48]:
df.columns

Index(['titulo', 'descripcion', 'tipodepropiedad', 'direccion', 'ciudad',
       'provincia', 'antiguedad', 'habitaciones', 'garages', 'banos',
       'metroscubiertos', 'metrostotales', 'idzona', 'lat', 'lng', 'fecha',
       'gimnasio', 'usosmultiples', 'piscina', 'escuelascercanas',
       'centroscomercialescercanos', 'precio'],
      dtype='object')

In [93]:
#averiguo duplicados de 'direccion'
df.loc[df['direccion'].duplicated()]['direccion']

id
103293                                                NaN
181436                                                NaN
201923                                                NaN
224513                                                NaN
129818                                                NaN
146699                                                NaN
261416                                                NaN
162157                                                NaN
261703                                                NaN
82384                                                 NaN
142454                                                NaN
134758                                                NaN
218245                                                NaN
119008                                                NaN
84768                                                 NaN
60035                                                 NaN
16952                                                 NaN
197102                                                NaN
231950                                                NaN
187330                                                NaN
10005                                                 NaN
249523                                                NaN
229855                                                NaN
69827                                                 NaN
11840                                                 NaN
110067                                                NaN
33712                                                 NaN
70366                                                 NaN
86982                                                 NaN
14228                                                 NaN
                               ...
271836                                                NaN
171829                                                NaN
240181                                    Supermanzana 12
208261                                        Tlalmanalco
279303                                San Pablo 434 5 h 2
251995                                                NaN
124243                                            la loma
252801                                  Blvd. Bosque Real
68148                                                 NaN
205041            Residencial Fuentes de San Jose, Toluca
239629                          Fracc. Morada del Quetzal
239931                                                NaN
31551                 Barqueta #3558 Sevilla Residencial.
2747                                                TOKIO
156730                                                NaN
258795                                                NaN
184779                                                NaN
235796                                                NaN
103355                                         Rio Parana
267455                                                NaN
252709                                                NaN
194027                                                NaN
64820     FUENTES DE SATÉLITE, ATIZAPÁN, ESTADO DE MÉXICO
41090                                                 NaN
278167                                  Primero de mayo 5
175203                                             Jurica
87498                                                 NaN
207892                                 Paseo de la Cañada
119879                                            BOSQUES
131932                                   Nicolas San Juan
Name: direccion, Length: 99730, dtype: object

In [15]:
#busco las rows de uno de los duplicados
df.loc[df['direccion'] == 'Paseo de la Cañada']

,titulo,descripcion,tipodepropiedad,direccion,ciudad,provincia,antiguedad,habitaciones,garages,banos,...,idzona,lat,lng,fecha,gimnasio,usosmultiples,piscina,escuelascercanas,centroscomercialescercanos,precio
id,,,,,,,,,,,,,,,,,,,,,
39507,santa fé,<p>desarrollo residencial rodeado de la natura...,Apartamento,Paseo de la Cañada,Alvaro Obregón,Distrito Federal,0.0,3.0,3.0,3.0,...,23191.0,19.359932,-99.263415,2015-06-10 00:00:00,1.0,1.0,1.0,1.0,1.0,8650000.0
25903,residencia villas de irapuato,<p>esta residencia se encuentra en la zona pri...,Casa,Paseo de la Cañada,Irapuato,Guanajuato,5.0,3.0,NaN,3.0,...,32742.0,NaN,NaN,2016-06-10 00:00:00,1.0,0.0,0.0,1.0,0.0,8000000.0
68781,casa en venta en juárez,casa en venta cd. juárez chihuahua. bonita cas...,Casa,Paseo de la Cañada,Juárez,Chihuahua,NaN,3.0,0.0,1.0,...,NaN,NaN,NaN,2016-06-14 00:00:00,0.0,0.0,0.0,0.0,0.0,450000.0
141835,residencias en condominio,sala \ncomedor \ncocina integral \njardín post...,Casa en condominio,Paseo de la Cañada,Zapopan,Jalisco,NaN,3.0,0.0,1.0,...,47705.0,NaN,NaN,2014-10-21 00:00:00,0.0,0.0,0.0,0.0,0.0,1650000.0
207892,bugambilias (ciudad),coto privado de tan solo 7 casas donde cada fa...,Casa,Paseo de la Cañada,Zapopan,Jalisco,1.0,3.0,2.0,3.0,...,48046.0,20.615574,-103.456215,2015-03-22 00:00:00,0.0,0.0,0.0,0.0,0.0,1650000.0

# Data cleaning

# Analisis Exploratorio

In [50]:
1) ver que provincia/ ciudad historicamente ( es decir del 2012 al 2016) tiene las casas mas caras y cual las mas baratas
2) ver cual provincia tiene mas desvio estandar en sus precios, (idem para ciudades) 
3) basado en el punto anterior, ver si dentro de esa dispersion en la ciudad o provincia, las casas de mas alto valor se encuentras agrupadas geograficamente dentro de esa ciudad/provincia
4) idem punto de arriba pero para casas de menor valor.
5) sumatoria por provincia y por ciudad de los precios de venta de las casas para saber cuanta guita deja cada prov/ciudad
6) ver si coincide que la prov/ciudad con casas mas caras es la que mas cantidad de casas en venta tienen o al reves o que pasa
7) ver si las casas mas caras por ciudad/prov estan sobre avenidas
8) ver si una ciudad/prov determinada al pasar los años tiene menos publicacion de propiedades
9) ver si una ciudad/prov determinada al pasar los años aumenta o disminuye el precio de las publicaciones
10) re contra yapa -> ya que tenemos las ubicaciones de las propiedades podriamos intentar mostrarlas en un mapa de mexico

SyntaxError: invalid syntax (<ipython-input-50-22ab72c35310>, line 2)

### Punto 1

In [172]:
#ver que provincia/ciudad historicamente tiene las casas mas caras y cual las mas baratas
df1 = df.copy()

In [136]:
#averiguo los nulls de  rows 
df1.loc[df.precio != df.precio.isnull()].precio.count()

240000

In [108]:
df1.groupby(['provincia']).precio.sum().sort_values(ascending=False)

provincia
Distrito Federal        204101541990.00
Edo. de México          114937877614.00
Jalisco                  50285076179.00
Nuevo León               41646918301.00
Querétaro                36424121914.00
Puebla                   23951664353.00
Morelos                  16802375724.00
San luis Potosí          16221829633.00
Yucatán                  16141565288.00
Quintana Roo             11428510747.00
Veracruz                 10888961462.00
Chihuahua                 8007395512.00
Guerrero                  6825530692.00
Coahuila                  5562103634.00
Guanajuato                5339503977.00
Sonora                    4433342980.00
Tamaulipas                3661003051.00
Michoacán                 3653382570.00
Hidalgo                   3291292899.00
Sinaloa                   2952036390.00
Durango                   2753634936.00
Aguascalientes            2589511913.00
Baja California Norte     2471162435.00
Tabasco                   2286677345.00
Chiapas                   2166565561.00
Baja California Sur       2067969797.00
Nayarit                   1929021194.00
Colima                    1543631203.00
Oaxaca                    1120193220.00
Tlaxcala                   906953413.00
Campeche                   413151387.00
Zacatecas                  136652293.00
Name: precio, dtype: float64

In [103]:
df1.groupby(['ciudad']).precio.sum().sort_values(ascending=False)

ciudad
Benito Juárez             37278639667.00
Huixquilucan              31308182315.00
Alvaro Obregón            29647689282.00
Querétaro                 28729061507.00
Zapopan                   28486636825.00
Naucalpan de Juárez       26620002182.00
Miguel Hidalgo            26057366112.00
Cuauhtémoc                22415939944.00
Monterrey                 21323776662.00
Tlalpan                   20423203491.00
Atizapán de Zaragoza      18753061496.00
Coyoacán                  18033299443.00
San Luis Potosí           15743768359.00
Mérida                    14530288631.00
Cuajimalpa de Morelos     14261059630.00
San Andrés Cholula        12331823524.00
Guadalajara               10633602205.00
Cuernavaca                10122219377.00
San Pedro Garza García    10017569246.00
Cancún                     9335785213.00
La Magdalena Contreras     8774179812.00
Tlalnepantla de Baz        8616633187.00
Puebla                     8261424985.00
Gustavo A. Madero          8145237488.00
Chihuahua                  7128224103.00
Acapulco de Juárez         6345585505.00
Tlajomulco de Zúñiga       5999397270.00
Metepec                    5606061422.00
Iztapalapa                 5256138931.00
Cuautitlán Izcalli         4802863817.00
                               ...
Mapastepec                     425000.00
Xicohtzinco                    410000.00
Valle Hermoso                  410000.00
Apazapan                       400000.00
Gral. Bravo                    400000.00
Villaflores                    400000.00
Tepetitla de Lardizábal        398000.00
Calcahualco                    397000.00
Escárcega                      395000.00
Villa Purificación             376000.00
Tixtla de Guerrero             374000.00
Gustavo Díaz Ordaz             360000.00
Sabinas                        354050.00
Tecali de Herrera              350000.00
Mazatepec                      350000.00
Coquimatlán                    350000.00
Oluta                          350000.00
Paracho                        340000.00
Cansahcab                      334000.00
Higueras                       331639.00
Tolcayuca                      327000.00
Atlangatepec                   320000.00
Ahuazotepec                    320000.00
Rafael Lara Grajales           320000.00
Donato Guerra                  320000.00
Abalá                          315000.00
Santa Isabel Xiloxoxtla        313200.00
Ojinaga                        311300.00
Cuaxomulco                     310000.00
Ecatzingo                      310000.00
Name: precio, Length: 875, dtype: float64

In [173]:
df1.groupby(['provincia', 'ciudad']).precio.sum()
#dentro de cada grupacion por provincia y ciudad no se como ordenar de mayor a menor por precio

provincia              ciudad
Aguascalientes         Aguascalientes              2243174932.00
                       Asientos                       9774348.00
                       Calvillo                       4959000.00
                       Cosío                          2660000.00
                       El Llano                       4000000.00
                       Jesús María                  303752411.00
                       Pabellón de Arteaga            4492222.00
                       Rincón de Romos                9375000.00
                       San Francisco de los Romo      4774000.00
                       Tepezalá                       2550000.00
Baja California Norte  Ensenada                      91791746.00
                       Mexicali                     252931142.00
                       Playas de Rosarito            31755000.00
                       Tecate                        11546000.00
                       Tijuana                     2083138547.00
Baja California Sur    Comondú                        4618760.00
                       La Paz                      1265172784.00
                       Loreto                         4030000.00
                       Los Cabos                    791048253.00
                       Mulegé                         3100000.00
Campeche               Calkiní                        6400000.00
                       Campeche                     173363225.00
                       Carmen                       220702672.00
                       Champotón                     10823000.00
                       Escárcega                       395000.00
                       Hopelchén                       587000.00
                       Palizada                        880490.00
Chiapas                Bella Vista                     654000.00
                       Berriozábal                   44993375.00
                       Chiapa de Corzo               14282000.00
                                                        ...
Yucatán                Suma                           4800000.00
                       Tahmek                         1200000.00
                       Teabo                          3500000.00
                       Tekax                          7380000.00
                       Telchac Pueblo                24895000.00
                       Telchac Puerto               171008400.00
                       Temax                          1500000.00
                       Temozón                       55255298.00
                       Timucuy                         830000.00
                       Tinum                          1980000.00
                       Tizimín                       17515000.00
                       Tzucacab                       7800000.00
                       Uayma                           600000.00
                       Ucú                            8500000.00
                       Umán                          20486000.00
                       Valladolid                    24776395.00
                       Yaxcabá                        2500000.00
                       Yaxkukul                       2250000.00
                       Yobaín                         5050000.00
Zacatecas              Calera                         2299750.00
                       Fresnillo                      1100000.00
                       Guadalupe                     46733543.00
                       Jerez                          5199000.00
                       Morelos                        2850000.00
                       Río Grande                     1150000.00
                       Sombrerete                     2700000.00
                       Tepechitlán                    1500000.00
                       Villa de Cos                   1050000.00
                       Villanueva                      975000.00
                       Zacatecas                     71095000.00
Name: precio, Length: 904, dtype: float64

### Punto 2

In [214]:
#ver cual provincia tiene mas desvio estandar en sus precios, (idem para ciudades) 
df2 = df.copy()

In [199]:
df2 = df2.groupby(['provincia']).precio.agg(['std','mean']).sort_values(by='mean')
df2['std > 25%'] = df2['std'] > (df2['mean'] * 0.25)
df2

                             std       mean  std > 25%
provincia
Baja California Norte  678467.98  767441.75       True
Tlaxcala              1087415.56 1080993.34       True
Durango                919869.33 1210388.98       True
Baja California Sur   1003929.42 1216452.82       True
Hidalgo               1159939.77 1305550.54       True
Nayarit               1402039.15 1426790.82       True
Zacatecas             1791470.94 1453747.80       True
Aguascalientes        1170392.69 1477188.77       True
Michoacán             1315847.58 1478503.67       True
Sonora                1369507.54 1483715.86       True
Coahuila              1069450.52 1505305.45       True
Colima                1380779.55 1531380.16       True
Campeche              1281077.85 1570917.82       True
Oaxaca                1418894.20 1575517.89       True
Tamaulipas            1265769.18 1589666.98       True
Sinaloa               1332176.89 1634571.64       True
Chihuahua             1307810.00 1744530.61       True
Guanajuato            1555171.60 1866959.43       True
Veracruz              1357357.01 1889788.52       True
San luis Potosí       1353126.33 1920424.96       True
Chiapas               1574049.72 1924125.72       True
Yucatán               1273817.12 2036019.84       True
Querétaro             1383790.49 2144108.90       True
Morelos               1563599.95 2290088.01       True
Puebla                1815367.84 2298403.64       True
Tabasco               1742639.60 2300480.23       True
Jalisco               1964600.74 2367693.58       True
Quintana Roo          1773207.72 2402966.94       True
Guerrero              2288864.50 2548741.86       True
Nuevo León            2394755.22 2717757.65       True
Edo. de México        2339591.35 2762464.91       True
Distrito Federal      2570062.65 3471705.09       True

In [222]:
df2.loc[df2.ciudad == 'Temozón'].precio

id
293544   3879000.00
30758    2500000.00
243318   3124360.00
197171   2800000.00
104757   3400000.00
8596     2310000.00
289058   2500000.00
124757   2295000.00
57654    2320000.00
272188   3700000.00
44709    2995000.00
71140    1995000.00
61181    1080438.00
141474   2313500.00
199242   2180000.00
248978   1630000.00
276402   3490000.00
224721   2250000.00
206857   2148000.00
51224    3450000.00
116787   2895000.00
Name: precio, dtype: float64

In [213]:
df2 = df2.groupby(['provincia','ciudad']).precio.agg(['std','mean'])#como parametrizo cuando paso asi las funciones ??
df2['std > 25%'] = df2['std'] > (df2['mean'] * 0.25)
#std nan ??????

AttributeError: 'SeriesGroupBy' object has no attribute 'std.(skipna=True)'

In [210]:
df2

                                                       std       mean  \
provincia             ciudad
Aguascalientes        Aguascalientes            1213727.34 1545951.02
                      Asientos                  1102986.01 1954869.60
                      Calvillo                  1485946.50 1653000.00
                      Cosío                      179257.73  886666.67
                      El Llano                   808290.38 1333333.33
                      Jesús María                817118.98 1137649.48
                      Pabellón de Arteaga        381644.00 1123055.50
                      Rincón de Romos           2542021.83 3125000.00
                      San Francisco de los Romo   91304.98  434000.00
                      Tepezalá                   444409.72  850000.00
Baja California Norte Ensenada                   932476.31 1105924.65
                      Mexicali                   926066.22 1071742.13
                      Playas de Rosarito        1189609.28 1512142.86
                      Tecate                     506151.81  679176.47
                      Tijuana                    628032.48  727606.90
Baja California Sur   Comondú                    542237.62  769793.33
                      La Paz                    1107145.00 1360400.84
                      Loreto                     954581.06 1007500.00
                      Los Cabos                  830014.45 1042224.31
                      Mulegé                           nan 3100000.00
Campeche              Calkiní                   2500666.58 2133333.33
                      Campeche                   883718.18 1179341.67
                      Carmen                    1456915.25 2062641.79
                      Champotón                 2629504.96 3607666.67
                      Escárcega                        nan  395000.00
                      Hopelchén                        nan  587000.00
                      Palizada                         nan  880490.00
Chiapas               Bella Vista                      nan  654000.00
                      Berriozábal               2482766.59 2812085.94
                      Chiapa de Corzo            843749.40 1020142.86
...                                                    ...        ...
Yucatán               Suma                             nan 4800000.00
                      Tahmek                           nan 1200000.00
                      Teabo                            nan 3500000.00
                      Tekax                           0.00 3690000.00
                      Telchac Pueblo            2283003.32 4149166.67
                      Telchac Puerto            1237695.38 2630898.46
                      Temax                            nan 1500000.00
                      Temozón                    707629.88 2631204.67
                      Timucuy                          nan  830000.00
                      Tinum                            nan 1980000.00
                      Tizimín                   1849101.96 1751500.00
                      Tzucacab                         nan 7800000.00
                      Uayma                            nan  600000.00
                      Ucú                              nan 8500000.00
                      Umán                      2225652.23 1862363.64
                      Valladolid                2284994.63 2752932.78
                      Yaxcabá                          nan 2500000.00
                      Yaxkukul                         nan 2250000.00
                      Yobaín                     324807.64 1010000.00
Zacatecas             Calera                     722099.04  766583.33
                      Fresnillo                        nan 1100000.00
                      Guadalupe                  992855.29 1168338.57
                      Jerez                      424439.87 1039800.00
                      Morelos                   1449568.90 1425000.00
                      Río Grande                       nan 1150000.00
                      Sombrerete                       nan 2700000.00
                      Tepechitlán                      nan 1500000.00
                      Villa de Cos                     nan 1050000.00
                      Villanueva                       nan  975000.00
                      Zacatecas                 2556657.05 1870921.05

                                                 std > 25%
provincia             ciudad
Aguascalientes        Aguascalientes                  True
                      Asientos                        True
                      Calvillo                        True
                      Cosío                          False
                      El Llano                        True
                      Jesús María                     True
                      Pabellón de Arteaga             True
                      Rincón de Romos                 True
                      San Francisco de los Romo      False
                      Tepezalá                        True
Baja California Norte Ensenada                        True
                      Mexicali                        True
                      Playas de Rosarito              True
                      Tecate                          True
                      Tijuana                         True
Baja California Sur   Comondú                         True
                      La Paz                          True
                      Loreto                          True
                      Los Cabos                       True
                      Mulegé                         False
Campeche              Calkiní                         True
                      Campeche                        True
                      Carmen                          True
                      Champotón                       True
                      Escárcega                      False
                      Hopelchén                      False
                      Palizada                       False
Chiapas               Bella Vista                    False
                      Berriozábal                     True
                      Chiapa de Corzo                 True
...                                                    ...
Yucatán               Suma                           False
                      Tahmek                         False
                      Teabo                          False
                      Tekax                          False
                      Telchac Pueblo                  True
                      Telchac Puerto                  True
                      Temax                          False
                      Temozón                         True
                      Timucuy                        False
                      Tinum                          False
                      Tizimín                         True
                      Tzucacab                       False
                      Uayma                          False
                      Ucú                            False
                      Umán                            True
                      Valladolid                      True
                      Yaxcabá                        False
                      Yaxkukul                       False
                      Yobaín                          True
Zacatecas             Calera                          True
                      Fresnillo                      False
                      Guadalupe                       True
                      Jerez                           True
                      Morelos                         True
                      Río Grande                     False
                      Sombrerete                     False
                      Tepechitlán                    False
                      Villa de Cos                   False
                      Villanueva                     False
                      Zacatecas                       True

[904 rows x 3 columns]